<h1>Skate Park</h1>

<div class="py-4">
  <h2>Registro</h2>
  <hr class="w-100" />
<div class="ml-2 col-sm-6">
</div>
  <form action="submit" method="POST" enctype="multipart/form-data">
  <div class="text-center">
  <img id="pic" class="img-thumbail rounded"/>
  
</div>
    <div class="form-group row">
      <div class="form-group col-12 col-sm-6">
        <label>Email</label>
        <input class="form-control" name="email"required />
      </div>
      <div class="form-group col-12 col-sm-6">
        <label>Nombre</label>
        <input class="form-control " name="nombre" required/>
      </div>
      <div class="form-group col-12 col-sm-6">
        <label>Password</label>
        <input type="password" class="form-control " name="password" required/>
      </div>
      <div class="form-group col-12 col-sm-6">
        <label>Repita la password</label>
        <input type="password" class="form-control " required />
      </div>
      <div class="form-group col-12 col-sm-6">
        <label>Años de experiencia</label>
        <input class="form-control " name="anosExperiencia" required/>
      </div>
      <div class="form-group col-12 col-sm-6">
        <label>Especialidad</label>
        <input class="form-control " name="especialidad" required/>
      </div>
      <div class="form-group col-12 col-sm-12">
        <label>Foto de perfil</label>
        <input type="file" name="fotoSkater" id="file" onchange="preview()" required/>
      </div>
    </div>
    <button class="btn mb-3 rounded-0">Registrarme</button>
    <p><a href="/login"> Iniciar sesión</a></p>
  </form>
</div>
<script>
  const form = document.querySelector("form")
  const preview = () => {
  pic.src=URL.createObjectURL(event.target.files[0]);
  pic.width = 100;


  
   
}
  form.addEventListener("submit", async (e) => {
    e.preventDefault()
const imagenSkater = document.querySelector("#file")
    const [, , password, rPassword] = [...document.querySelectorAll("form input")].map(
      (i) => i.value
    );
    if (password != rPassword) {
         Swal.fire({
        icon: 'error',
        title: 'Oops...',
        text: 'Contraseñas deben coincidir, intente de nuevo',

      })
      
      form.reset()
      return
    }


    try {

      const payload = new FormData(form)
      payload.append("imagen", imagenSkater.files[0].name)
      

      await axios.post("/registro",  payload,  {
            headers: {
            'Content-Type': 'multipart/form-data'
            }
        })
        Swal.fire("Skater Agregado!", "Cuenta creada con éxito.", "success").then(()=>window.location = "/");

    } catch (error) {
      console.log(error)
      alert(error)
    }

  })

</script>